@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5efe6;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.login-card {
  background-color: #fdfaf6;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.input-group {
  margin-bottom: 1.25rem;
}

label {
  display: block;
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: #222;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #bfa88f;
  border-radius: 10px;
  font-size: 0.95rem;
  background-color: #fffaf3;
  color: #000;
  transition: border 0.2s ease-in-out;
}

input:focus {
  border-color: #a68160;
  outline: none;
}

.password-wrapper {
  position: relative;
}

.password-wrapper img {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.login-btn {
  color: whitesmoke;
  width: 100%;
  padding: 0.75rem;
  background-color: #131313;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #3b3b3b;
}

.register-link {
  margin-top: 1rem;
  font-size: 0.85rem;
  text-align: center;
}

.register-link a {
  color: #6c584c;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
